---
layout: layouts/base.njk
title: "{{ shop.name }}"
ownerId: "{{ shop.ownerId }}"
---
<main class="main-content" id="available"><!-- CARDS --></main>
<main class="main-content" id="test">
    <h1>Submit a New Design</h1>
    <form id="design-form">
        <input name="name"     placeholder="Name"    required /><br/>
        <input name="img1"   placeholder="Image URL" required /><br/>
        <input name="slots"    type="number" min="0" max="4" placeholder="Slots" /><br/>
        <button type="submit">Add Design</button>
    </form>

      <h1>Available Designs</h1>
    <div id="design-list">Loading…</div>
</main>
<main class="main-content" id="sold"><!-- SOLD CARDS --></main>
<main class="main-content" id="created"><!-- CREATED CARDS --></main>
<main class="main-content" id="requests">{% include "requests.html" %}</main>

<script>
  window.ownerId = "{{ shop.ownerId }}"
</script>
