---
title: "home"
scriptsPartial: "scripts-home"
---

<nav class="navbar">
    <div class="nav-left">
        <div class="nav-header">
            <div class="nav-title">the archive</div>
            <div class="nav-date">a wajas design marketplace</div>
        </div>
    </div>
    <ul class="nav-links">
        <li><a href="/">home</a></li>
        <li><a href="#explore">explore</a></li>
        <li><a href="#search">search</a></li>
        <li><a href="/">your shop</a></li>
    </ul>
</nav>
<div class="content-wrapper">
    <main class="main-content" id="home">home text :3</main>
    <main class="main-content" id="explore" style="display:none;"></main>
    <main class="main-content" id="search" style="display:none;"></main>
</div>
