<footer class="footer">
    <div>wajas links</div>
    <a href="https://www.wajas.com/Home.php">wajas home</a>
    <a href="https://www.wajas.com/profile.php?id=298">contact aero</a>
    <a href="https://www.wajas.com/communicate_topic.php?id=707535&offset=0#post-15352877">aero's design thread</a>
    <label class="theme-switch">
        <input type="checkbox" id="themeToggle" aria-label="Toggle theme" />
        <span class="slider">
            <i class="fa-solid fa-moon"></i>
            <i class="fa-solid fa-sun"></i>
        </span>
    </label>
</footer>