<nav class="navbar">
    <div class="nav-left">
        <a href="https://www.wajas.com/profile.php?id=298" class="user-image"></a>
        <div class="nav-header">
            <div class="nav-title">aero's design shop</div>
            <div class="nav-date"><!-- DATE --></div>
        </div>
    </div>
    <ul class="nav-links">
        <li><a href="#available">available</a></li>
        <li><a href="#test">test</a></li>
        <li><a href="#sold">sold</a></li>
        <li><a href="#created">created</a></li>
        <li><a href="#requests">requests</a></li>
    </ul>
</nav>