<div class="design-card request-info">
    <div class="design-card-header">about requests</div>
    <div class="design-card-body">
        <div class="section">
            I won't be taking traditional commissions. Instead you can request a design based off an inspiration image. If you don't have an image or color palette to work off of, a short description will suffice.
        </div>
        <div class="section">
            If I feel capable of doing your request justice, then I'll create a design and ping you on the thread. You'll get first dibs if you want to purchase the design, otherwise it will be sold as usual!
        </div>
        <div class="section">
            This service is free of charge, as I don't work well with too many constraints. Feel free to specify things you'd like to see, such as certain markings, breeds, and mutations. If you're interested, feel free to post using the
            form below.
        </div>
    </div>
</div>
<div class="design-card request-info">
    <div class="design-card-header">request form</div>
    <div class="design-card-body">
        <ul>
            <li>inspiration link or description:</li>
            <li>preferred breed(s):</li>
            <li>notes:</li>
        </ul>
        <h2>
            <a href="https://www.wajas.com/communicate_topic.php?id=707535&offset=0#post-15352877">
                post all requests in my shop thread
            </a>
        </h2>
    </div>
</div>