<div class="sidebar">
    <div class="section">
        <h2>Pricing</h2>
        <ul>
            <li><b>cost:</b> 3 cwp per design</li>
            <li><b>reimbursement:</b> 2 cwp when you send a pup</li>
            <li><b>no refund:</b> for standalones or if you don't complete the design</li>
        </ul>
    </div>
    <div class="section">
        <h2>Purchasing</h2>
        <ul>
            <li><b>limit:</b> 2 active designs per user; new slots free up once pup payment is received or standalone is confirmed</li>
            <li><b>how to buy:</b> send 3 cwp to #298, and post the design name <a href="https://www.wajas.com/communicate_topic.php?id=707535&offset=0#post-15352877">in my shop</a></li>
        </ul>
    </div>
    <div class="section">
        <h2>Policies</h2>
        <ul>
            <li><b>credit:</b> please do not claim my designs as your own</li>
            <li><b>standalones:</b> please avoid buying with the intention of making a standalone</li>
            <li><b>commissions:</b> not offered; visit the <a href="#requests">requests</a> section for something similar</li>
            <li><b>tweaks:</b> <a href="https://www.wajas.com/communicate_topic.php?id=707535&offset=0#post-15352877">request edits from me</a> before adjusting the design yourself</li>
        </ul>
    </div>
    <div class="section">
        <h2>Key</h2>
        <ul class="key-list">
            <li><i class="fas fa-circle"></i> used token slot</li>
            <li><i class="far fa-circle"></i> open token slot</li>
            <li><i class="fas fa-up-right-and-down-left-from-center"></i> expand card (more info)</li>
            <li><i class="fas fa-down-left-and-up-right-to-center"></i> contract card</li>
        </ul>
    </div>
    <div class="affiliates">
        <a class="affiliate-box" id="lilac" href="https://www.wajas.com/communicate_topic.php?id=711035&offset=0">
            <div class="affiliate-text">lilac's designs</div>
            <div class="affiliate-image"></div>
        </a>
        <a class="affiliate-box" id="finch" href="https://www.wajas.com/communicate_topic.php?id=711035&offset=0">
            <div class="affiliate-image"></div>
            <div class="affiliate-text">finch's banners</div>
        </a>
    </div>
</div>