<div class="lightbox-overlay" id="inspirationModal">
    <div class="lightbox-content">
        <span class="lightbox-close"><i class="fa-solid fa-xmark"></i></span>
        <img src="" alt="Inspiration" id="lightboxImage">
    </div>
</div>
<script type="module" src="/js/sidebarAll.js"></script>
<script type="module" src="/js/cards.js"></script>
<script type="module" src="/js/lightbox.js"></script>
