<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link id="lightModeLink" rel="stylesheet" href="/css/light-mode.css" disabled />
        <script type="module" src="/src/main.js" defer></script>
    </head>
    <body>
        <div class="layout">
            {{ content | safe }}
            {% include "footer.html" %}
        </div>
        {% if scriptsPartial %}
            {% include "partials/" ~ scriptsPartial ~ ".njk" %}
        {% else %}
            {% include "partials/scripts-home.njk" %}
        {% endif %}
        <script src="/js/mainContent.js"></script>
        <script src="/js/themeSwitch.js"></script>
    </body>
</html>
